<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action = "http://localhost:5000/interface/add" method = "POST">
        <p>Interface <input type = "text" name = "interface" /></p>
        <p>IP Address <input type = "text" name = "ip_address" /></p>
        <p>Subnet <input type = "text" name = "subnet" /></p>
        <p>Status <input type ="text" name = "status" /></p>
        <p><input type = "submit" value = "submit" /></p>
    </form>
</body>
</html>